:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #8bbcdc; 
  --hover-color: #7daac8;   
  --border-color: #cccccc;  
  --background-color: #f9f9f9; 
  --color-text: #1d1d1d;
  --button-text: #171717;
  --sidebar-background-color: #f1f1f1;

  /* Buttons */
  --button-edit-bg: #9e9bfe;
  --button-edit-hover-bg: #8f8bf4;
  --button-complete-bg: #5cd669;
  --button-complete-hover-bg: #4dc059;
  --button-delete-bg: #ffb1b2;
  --button-delete-hover-bg: #ec999a;

}

/* Detect dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #202124;
    --foreground: #e8eaed;          
    --primary-color: #65a9e1;       
    --hover-color: #5a92c7;         
    --border-color: #5f6368;        
    --background-color: #303134;    
    --color-text: #d1d3d4;   
    --button-text: #171717;       
    --sidebar-background-color: #28292c; 

    /* Buttons */
    --button-edit-bg: #7c7cff;
    --button-edit-hover-bg: #6a6ade;
    --button-complete-bg: #4caf50;
    --button-complete-hover-bg: #43a047;
    --button-delete-bg: #e57373;
    --button-delete-hover-bg: #d32f2f;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
